.App-main {
  width: 100%;
}

.about-portrait {
  margin: 20px 0px;
}

.about-hero {
  margin: auto;
  /* padding: 1em 0em; */
  background: rgba(0,0,0,0.4);
  width: 100%;
}

.about-hero h2 {
  font-size: 2em;
}

.about-hero h3 {
  font-size: 1.4em;
}


h3.section {
  border-bottom: solid;
}

.place {
  margin: 0px;
}

.date {
  margin: 0px;
}