.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(21, 64, 75);
  /* height: 100vh; */
  height: 100%;
  width: 66vw;
  text-align: left;
  padding: 0px;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: 0.3s;
  z-index: 9;
}

.menu > a {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: #0f6e75;
  text-decoration: none;
  transition: color 0.3s linear;
}

.menu > a:hover {
  color: #0f6e75;
}

.menu-open {
  transform: translateX(0);
}

.menu nav.navlink-wrapper {
  display: flexbox;
  margin: 40px 0px 0px;
  /* margin: auto; */
  /* height: 86vh; */
  height: 100%;
  width: 100%;
  /* border-top: solid; */
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(31, 91, 102);
}

.menu a.navlink {
  padding: 0px;
  display: flexbox;
  height: 70px;
  width: 100%;
  /* border-bottom: solid; */
  border-width: 1px;
  border-color: rgb(35, 110, 110);

}

.media-links-component-container {
  height: 50px;
}

.menu nav.media-icons {
  position: absolute;
  bottom: 4px;
  /* top: 0; */
  margin: auto;
  right: calc(33vw - 90px);
}
